body {
    font-size: 16px;
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

header,
footer {
    background-color: #63b554;
    width: 100%;
}
footer {
    text-align: center;
    color: #ffffff;
    font-weight: 600;
    margin: auto;
    padding: 4% 0;
    position: fixed;
    bottom: 0;
    @media screen and (min-width: 1025px) {
        padding: 1% 0;
    }
}
nav {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    position: fixed;
    bottom: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.logo {
    width: 100%;
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-weight: 600;
    img {
        width: 50px;
        vertical-align: middle;
    }
    .title {
        vertical-align: middle;
        font-size: 1.4rem;
    }
}
.container {
    max-width: 1000px;
    margin: 0 4%;
}
.menu {
    width: 100%;
    background-color: #ffa700;
    font-weight: 600;
    padding: 3%;
    display: flex;
    justify-content: center;
    @media screen and (min-width: 1025px) {
        padding: 1%;
    }
    li {
        margin: 0 4%;
        @media screen and (min-width: 1025px) {
            margin: 0 2%;
        }
        span {
            vertical-align: middle;
        }
        a {
            color: #000000;
            text-decoration: none;
        }
    }
}
.menu_text {
    font-size: 1.2rem;
    @media screen and (min-width: 1025px) {
        font-size: 0.8rem;
    }
}
